.action-button {
    background: rgba(255, 255, 255, 0.07);
    box-sizing: border-box;
    display: flex;
    gap: 12px;
    align-items: start;
    overflow: hidden;
    padding: 10px 8px 10px 12px;
    position: relative;
    border-radius: 8px;
    flex-shrink: 0;
    width: 100%;
    cursor: pointer;
    border: none;
}

.action-button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.action-button-icon {
    position: relative;
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-stroke);
}

.action-button-label {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    justify-content: flex-end;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    color: #dfe1e5;
    font-size: 13px;
    line-height: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.action-button-label p {
    white-space: collapse;
    line-height: 16px;
    overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

