.banner-notification {
    background: rgba(255, 255, 255, 0.07);
    height: 132px;
    position: absolute;
    left: 252px;
    overflow: hidden;
    border-radius: 8px;
    top: 578px;
    width: 527px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 12px;
    box-sizing: border-box;
}

.banner-close {
    position: absolute;
    right: 12px;
    width: 16px;
    height: 16px;
    top: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-stroke);
}

.banner-close:hover {
    opacity: 0.8;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    position: relative;
    flex-shrink: 0;
    bottom: 12px;
    top: 12px;
    left: 12px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: start;
    position: relative;
    flex-shrink: 0;
    color: #dfe1e5;
    width: 344px;
}

.banner-title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 20px;
    position: relative;
    flex-shrink: 0;
    font-size: 16px;
    width: 100%;
    margin: 0;
}

.banner-message {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 16px;
    position: relative;
    flex-shrink: 0;
    font-size: 13px;
    width: 100%;
    margin: 0;
}

.banner-button-container {
    box-sizing: border-box;
    display: flex;
    gap: 6px;
    align-items: end;
    padding: 6px 0;
    position: relative;
    flex-shrink: 0;
    width: 251px;
}

.banner-button {
    background: #3574f0;
    display: flex;
    align-items: start;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    flex-shrink: 0;
    border: none;
    cursor: pointer;
}

.banner-button:hover {
    background: #2d6ce9;
}

.banner-button-text {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 12px;
    position: relative;
    flex-shrink: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 16px;
    color: #ebecf0;
    font-size: 13px;
    white-space: pre;
}

.banner-icon {
    position: absolute;
    right: 12px;
    overflow: hidden;
    width: 74px;
    height: 74px;
    top: 50%;
    transform: translate(-50%, -50%);
    left: calc(50% + 191.5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

