.main-toolbar {
    height: 40px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-toolbar-left {
    height: 40px;
    position: relative;
    width: 708px;
    display: flex;
    align-items: center;
}

.macos-buttons {
    height: 12px;
    width: 52px;
    position: absolute;
    left: 16px;
    top: 14px;
    display: flex;
    gap: 0;
}

.macos-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    flex-shrink: 0;
}

.macos-button-close {
    background: #ff5f57;
    margin-right: 8px;
}

.macos-button-minimize {
    background: #ffbd2e;
    margin-right: 8px;
}

.macos-button-expand {
    background: #28c840;
}

.main-toolbar-project {
    position: absolute;
    left: 90px;
    top: 0;
    display: flex;
    align-items: center;
}

.main-toolbar-right {
    display: flex;
    gap: 16px;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
}

.toolbar-button {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: start;
    padding: 0;
    background: transparent;
    border: none;
    gap: 0;
}

.toolbar-icon {
    overflow: hidden;
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-stroke);
}

.toolbar-icon:hover {
    background: rgba(255, 255, 255, 0.1);
}

