.non-modal-welcome-screen {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-window {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1px;
    height: 919px;
    width: 1470px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.25);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.12) 0%, rgba(0, 0, 0, 0.12) 100%),
                linear-gradient(90deg, rgb(43, 45, 48) 0%, rgb(43, 45, 48) 100%);
}

.main-content-area {
    flex: 1;
    display: flex;
    gap: 1px;
    min-height: 0;
    min-width: 0;
}

.editor-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
    border-radius: 10px;
}

.editor-content-wrapper {
    flex: 1;
    display: flex;
    gap: 40px;
    height: 100%;
    align-items: flex-start;
    overflow: hidden;
    border-radius: 12px;
}

.editor-background {
    flex: 1;
    background: #17181a;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.right-stripes {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 638px;
    height: 100%;
    align-items: flex-start;
    padding: 0 0 6px 0;
    position: relative;
    flex-shrink: 0;
}

.right-stripes-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex-shrink: 0;
}

