.tab-bar {
    background: var(--tab-bg);
    padding: 0;
}

.tab-bar-horizontal {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.tab-bar-horizontal.tab-bar-wrap {
    flex-wrap: wrap;
    align-content: center;
    gap: 0;
}

.tab-bar-vertical {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 20px;
    padding-left: 2px;
    padding-right: 2px;
}
